body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('images/southpark1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton,
.dancerBehavior{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
  z-index: 10;
}
.title{
  background-color: #777;
}

.dancer {
  z-index: -10;
}

.dancer.blinky{
  position:absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid hsla(206,42%,35%,0.65);
  background-image: url('images/cubes.png')
}


.dancer.growing{
  border: none;
  background-color: hsla(353,83%,70%,0.65);
  height: 100px;
  width: 100px;
  border-radius: 2000px;
  position: absolute;
  animation: 5s linear 0s infinite grow;
}
@keyframes grow {
  
  100% {
    /*border: 2000px solid hsla(231, 100%, 52%, 0.05);
    top: -1000;
    left: -1000;*/
    transform: scale(5);
  }

}

.dancer.spinning{
  border: 75px solid hsla(271,15%,43%,0.65);
  border-radius: 5%;
  position: absolute;
  animation: 10s linear 0s infinite spin;
  background-image: url('images/superthumb.png')
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes torso-fart {
  50% {
    transform: rotate(30deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.dancer.canadian {
  position: absolute;
  height:275px;
  width: 150px;
  z-index: 10;
}

.upper-half{
  animation: 1s linear 0s infinite torso-fart;
}

.head{
  position: absolute;
  left: 45px;
  height: 83px;
  width:70px;
  border-radius: 100%;
}
.hair{
  float:left;
  width: 50px;
  height:21px;
  margin-top: -2px;
  background: black;
  z-index: 10;
  border-radius: 90% 50% 30% 90%;
  margin: 0 0 0 5px;
}
.hair-right{
  float:left;
  margin: 5px 0 0 1px;
  width: 13px;
  height:20px;
  background: black;
  z-index: 10;
  border-radius:  50% 90% 30% 90%;
}
.head-top{
  height: 50px;
  width: 70px;
  background: pink;
  border-radius: 500px 500px 0 0;
    border: 1px solid black;
}
.eye-left,
.eye-right{
  z-index: 1;
  display:inline-block;
  height: 15px;
  width: 5px;
  background: black;
  border-radius: 100%;
}
.eye-left{
  position: absolute;
  top: 30px;
  left:20px;
}
.eye-right{
  position: absolute;
  top: 30px;
  left:42px;
}
.head-bottom {
  margin-top: 4px;
  height: 30px;
  width: 70px;
  background: pink;
  border-radius: 0 0 500px 500px;
  border: 1px solid black;
}
.torso{
  z-index: -1;
  height:110px;
  width:65px;
  background: red;
  border: solid black 2px;
  position: absolute;
  left:47px;
  top:70px;                                                     
}
.arm{
  height:90px;
  width:12px;
  background: red;
  border: solid black 2px;
}
.left-arm{
  position: absolute;
  left:30px;
  top:72px;
}
.right-arm{
  position: absolute;
  left:117px;
  top:72px;
}
.leg{
  z-index: -2;
  height:90px;
  width:15px;
  background: grey;
  border: solid black 2px;
}
.left-leg{
  position: absolute;
  left:52px;
  top:180px;
}
.right-leg{
  position: absolute;
  left:93px;
  top:180px;
}

